<h1>Process Invoice</h1>
<%= form_with model: [@invoice], url: invoice_line_items_path, method: "POST" do |form| %>
  <div class="container ">
    <div class="d-flex sm-text mb-3 justify-content-evenly">
      <div class="p-2"><span class="text-light bg-success p-2 rounded-circle w-2 h-2 me-2">&nbsp;1&nbsp;</span>Connect Booking Item</div>
      <div class="p-2"><span class="text-light bg-success p-2 rounded-circle w-2 h-2 me-2">&nbsp;2&nbsp;</span>Verify Booking Item</div>
      <div class="p-2"><span class="text-light bg-success p-2 rounded-circle w-2 h-2 me-2">&nbsp;3&nbsp;</span>Verify Cost Coverage</div>
      <div class="p-2 text-secondary"><span class="text-light bg-primary p-2 rounded-circle w-2 h-2 me-2">&nbsp;4&nbsp;</span>Add Invoice Details</div>
      <div class="p-2 text-secondary"><span class="text-light bg-secondary-subtle p-2 rounded-circle w-2 h-2 me-2">&nbsp;5&nbsp;</span>Connect Charges</div>
    </div>
    <div class="row align-items-start">
      <div class="col-7 text-center">
        <%= image_tag @invoice.file.preview(resize_to_limit: [2550, 3300]), class: "img-thumbnail img-fluid mx-auto" %>
      </div>
      <div class="col-5">
        <div class="container">
          <div class="alert alert-primary">
            <h5>Add additional invoice details</h5>
            <p>Please transfer all needed invoice information lorem ipsum dolor sit amet...</p>
          </div>
          <div class="card mb-3" >
            <div class="card-body">
              <h5 class="card-title d-flex">Invoicing Company</h5>
              <div class="mb-3">
                <%= form.label :country, class: "form-label" %>
                <%= form.combobox "country", ["Canada", "USA", "Germany", "UK"] do |combobox| %>
                  <% combobox.customize_fieldset class: "form-control" %>
                  <% combobox.customize_main_wrapper class: "w-100" %>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :vat_id, "VAT ID or tax-number", class: "form-label" %>
                <%= form.text_field :vat_id, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= form.label :company_name, class: "form-label" %>
                <%= form.text_field :company_name, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= form.label :invoice_date, class: "form-label" %>
                <%= form.text_field :invoice_date, class: "form-control", type: "date", value: form.object.invoice_date.nil? ? "" : form.object.invoice_date.strftime("%Y-%m-%d") %>
              </div>
              <div class="mb-3">
                <%= form.label :invoice_number, class: "form-label" %>
                <%= form.text_field :invoice_number, class: "form-control" %>
              </div>
              <div class="row g-3">
                <div class="col-8 mb-3 ">
                  <%= form.label :street_name, class: "form-label" %>
                  <%= form.text_field :street_name, class: "form-control" %>
                </div>
                <div class="col-4 mb-3">
                  <%= form.label :street_number, class: "form-label" %>
                  <%= form.text_field :street_number, class: "form-control" %>
                </div>
                <div class="col-4 mb-3 ">
                  <%= form.label :postal_code, class: "form-label" %>
                  <%= form.text_field :postal_code, class: "form-control" %>
                </div>
                <div class="col-8 mb-3">
                  <%= form.label :city, class: "form-label" %>
                  <%= form.text_field :city, class: "form-control" %>
                </div>
              </div>
              <div class="form-check">
                <%= form.checkbox :invoice_has_invoice,  class: "form-check-input" %>
                <%= form.label :invoice_has_invoice, "The invoice has the word 'invoice' on it", class: "form-check-label" %>
              </div>
            </div>
          </div>
          <div data-controller="nested-form"  data-nested-form-index-value="NEW_RECORD">
            <template data-nested-form-target="template">
              <%= form.fields_for :line_items, LineItem.new, child_index: 'NEW_RECORD' do |line_item| %>
                <%= render "line_items_fields", form: line_item %>
              <% end %>
            </template>
            <%= form.fields_for :line_items do |line_item| %>
              <%= render "line_items_fields", form: line_item %>
            <% end %>
            <div data-nested-form-target="links">
              <%= link_to "Add Line Item", "#", class: "btn btn-secondary", data: { action: "click->nested-form#add_association" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container d-flex justify-content-between">
        <%= link_to "Previous", invoice_booking_path(@invoice, @invoice.booking), class: "btn btn-light" %>
        <%= form.submit "Go to Next Step", class: "btn btn-primary" %>
      </div>
    </footer>
  </div>
<% end %>
